@import "tailwindcss";
@import "../styles/fonts.css";

@theme {
  --border: 214.3 31.8% 91.4%;
  --muted-foreground: 215.4 16.3% 46.9%;
}

@layer base {
  body {
    font-family: var(--font-pretendard);
    border-color: hsl(var(--border));
  }

  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
  }
}
